* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
}

.header .left {
    margin-right: auto;
}

.header .right {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

a {
    text-decoration: none;
}