* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
}

.header .left {
    margin-right: auto;
}

.header .right {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    gap: 20px;
    background-color: #1F2937;
}

.hero .content p, .header {
    font-size: 18px;
    color: #E5E7EB;
}

.hero .content h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero .img {
    width: 50%;
    background-color: grey;
}

.hero .content {
    width: 50%;
}