* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
}

.header .left {
    margin-right: auto;
}

.header .right {
    display: flex;
    margin-left: auto;
    gap: 15px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
}

.hero .content p, .header {
    font-size: 18px;
    /* color: #E5E7EB; */
}

.hero .content h1 {
    font-size: 48px;
    font-weight: extra-bold;
    /* color: #F9FAF8; */
}